- if notice.present?
  .p-4.mb-4.text-sm.text-green-700.bg-green-100.rounded-lg.dark:bg-green-200.dark:text-green-800{ role: 'alert', class: 'w-1/2 mx-auto my-8 text-center' }
    %p.font-medium
      = notice
