%main.mx-auto.flex.min-h-screen.w-full.items-center.justify-center.text-white
  = form_for(@order, html: { 'data-turbo': false }) do |f|
    %section.flex.flex-col.space-y-10{ class: 'w-[30rem]' }
      .text-center.text-4xl.font-medium Order Details
      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.text_field :email, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Email or Username', autocomplete: 'off'
      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.text_field :phone, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Phone', autocomplete: 'off'
      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.text_field :address, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Address', autocomplete: 'off'
      =f.submit 'Place an Order', class: 'transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400'
