.flex.justify-center.items-center.mb-12
  .w-80.p-6.bg-white.rounded-xl.shadow-xl.hover:shadow-2xl.hover:scale-105.transition-all.transform.duration-500
    %img.w-40.object-cover.rounded-t-md.mx-auto{ alt: '', src: 'https://previews.123rf.com/images/ionutparvu/ionutparvu1612/ionutparvu161200410/67602131-categories-stamp-sign-text-word-logo-red-.jpg?fj=1' }
    .mt-4
      %h1.text-2xl.font-bold.text-gray-700.truncate.text-center
        = category.title
      %p.text-1xl.mt-2.text-gray-700
      .mt-4.mb-2.flex.justify-center.pl-4.pr-2
        = link_to 'Show', category_path(category), class: 'text-lg block font-semibold py-2 px-6 text-green-100 hover:text-white bg-green-400 rounded-lg shadow hover:shadow-md transition duration-300'

