.flex.items-center.hover:bg-gray-100.-mx-8.px-6.py-5
  .flex{ class: 'w-2/5' }
    .w-20
      %img.h-24{ alt: '', src: 'https://img.freepik.com/premium-vector/flat-design-farmers-market-logo_23-2149331958.jpg?w=2000' }
    .flex.flex-col.justify-center.ml-4.flex-grow
      %span.font-bold.text-sm
        = line_item.product.title
      %a.font-semibold.hover:text-red-500.text-gray-500.text-xs{ href: '#' } Remove
  .flex.justify-center{ class: 'w-1/5' }
    %svg.fill-current.text-gray-600.w-3{ viewbox: '0 0 448 512' }
      %path{ d: 'M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z' }
    %input.mx-2.border.text-center.w-8{ type: 'text', value: '1' }
    %svg.fill-current.text-gray-600.w-3{ viewbox: '0 0 448 512' }
      %path{ d: 'M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z' }
  %span.text-center.font-semibold.text-sm{ class: 'w-1/5' }
    $
    = line_item.product.price
  %span.text-center.font-semibold.text-sm{ class: 'w-1/5' }
    $
    = line_item.product.price
